@font-face {
  font-family: "Harmonia Sans Pro Cyr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Harmonia Sans Pro Cyr"),
    local("HarmoniaSansProCyr"),
    url("../font/HarmoniaSansProCyr-Regular.woff2") format("woff2"),
    url("../font/HarmoniaSansProCyr-Regular.woff") format("woff");

}
