.contacts {
    background-color: #82C8BB;
    position: relative;
    z-index: 1;
    padding: 105px 20px 0 20px;
    border-top: 4px dashed #FFFFFF;
}

.contacts__content-block {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.contacts__header {
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    padding: 38px;
    border: 2px solid #FFFFFF;
    background: #82C8BB;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    box-shadow: -60px 40px 0 0 #FFFFFF;
    margin: 0 auto;
    // margin: 50px 60px;
    margin-bottom: 130px;
}

.contacts__adress {
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-family: inherit;
    color: white;
    padding-left: 80px;
    align-items: center;
    margin: 0;
    margin-bottom: 18px;
    display: flex;

    & img {
        margin-right: 29px;
    }
    
    & span {
        display: inline-block;
    }
}

.contacts__phone {
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-family: inherit;
    color: white;
    padding-left: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    & img {
        margin-right: 23px;
    }
    & span {
        display: inline-block;
    }
}

.contacts__mail {
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-family: inherit;
    color: white;
    padding-left: 80px;
    display: flex;
    align-items: center;
    & img {
        margin-right: 20px;
    }
    & span {
        display: inline-block;
    }
}

.contacts__info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1060px) {
    .contacts__content-block {
        flex-direction: column;
    }

    .contacts__info {
        order: -1;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    .contacts__adress {
        width: 32%;
        padding-left: 0;
        font-size: 18px;
        line-height: 120%;

        & img {
            align-self: flex-start;
        }

        & span {
            padding: 0;
            margin: 0;
            align-self: center;
        }
    }

    .contacts__phone {
        width: 32%;
        padding-left: 0;
        font-size: 18px;
        line-height: 120%;
        & span {
            padding: 0;
            margin: 0;
            align-self: center;
        }
    }

    .contacts__mail {
        width: 32%;
        padding-left: 0;
        font-size: 18px;
        line-height: 120%;
        & span {
            padding: 0;
            margin: 0;
            align-self: center;
        }
    }
    
    .contacts__map iframe {
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .contacts__header {
        padding: 20px;
        font-size: 30px;
        line-height: 30px;
        max-width: 280px;
        box-shadow: -15px 15px 0 0 white;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contacts__info {
        flex-direction: column;
    }

    .contacts__mail {
        width: 95%;
    }

    .contacts__adress {
        width: 95%;
    }

    .contacts__phone {
        width: 95%;
    }

    .contacts {
        padding-top: 10px;
    }
}