.header {
    width: 100%;
    font-family: $font;
    position: relative;
    z-index: 1;
}

.header__menu {
    width: 100%;
    max-width: 1386px;
    margin: 0 auto;

    display: flex;
}

.header__menu-item {
    text-decoration: none;
    font-family: inherit;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    width: 16.66%;
    text-align: center;
    padding: 55px 10px;
    color: black;
    border-right: 1px solid #90C7B6;
    background-color: #FCF7FF;

    &:last-child {
        border-right: none;
    }

    &:hover {
        background-color: white;
        transition:  background-color 0.5s;
    }
}

.header__burger-wrapper {
    display: none;
}

.header__burger {
    border: none;
    background: transparent;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    z-index: 7;
    position: relative;
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (max-width: 1024px) {
    .header__menu-item {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.03em;
        width: 16.66%;
        text-align: center;
        padding: 30px 10px;
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 60px;
    }

    .header__menu {
        position: absolute;
        background: white;
        right: 0;
        top: 0;
        display: none;
        max-width: 200px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .header__menu-item {
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .header__burger-wrapper {
        display: block;
    }
} 