.partners {
    background-color: #FCF7FF;
    padding: 77px 20px;
}

.partners__header {
    margin-top: 0;
    text-align: center;
    padding: 0 20px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 90px;
}