.partners {
    background-color: #FCF7FF;
    padding: 77px 20px 0 20px;
    border-top: 4px dashed #82C8BB;
}

.partners__header {
    margin-top: 0;
    text-align: center;
    padding: 0 20px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 90px;
}

.partners__list {
    width: 100%;
    max-width: 1306px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    width: 18.5%;
    margin-right: 1.87%;
    background: white;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &:nth-child(5n) {
        margin-right: 0;
    }
}

@media(max-width: 1024px) {
    .partners__item {
        width: 23%;
        margin-right: 2.66%;

        &:nth-child(5n) {
            margin-right: 2.66%;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }
    }


}

@media(max-width: 1024px) {
    .partners__item {
        width: 31%;
        margin-right: 3.5%;

        &:nth-child(5n) {
            margin-right: 3.5%;
        }

        &:nth-child(4n) {
            margin-right: 3.5%;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .partners__header {
        margin-bottom: 40px;
    }
}
@media(max-width: 600px) {

    .partners__item {
        width: 48%;
        margin-right: 2%;

        &:nth-child(5n) {
            margin-right: 2%;
        }

        &:nth-child(4n) {
            margin-right: 2%;
        }

        &:nth-child(3n) {
            margin-right: 2%;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media(max-width: 460px) {
    .partners__item {
        width: 100%;
        margin-right: 0;

        &:nth-child(5n) {
            margin-right: 0;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}