.speakers {
    background-color: #FCF7FF;
}

.speakers__header {
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    padding: 38px;
    border: 2px solid #90C7B6;
    background: white;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    box-shadow: 58px 48px 0 0 #90C7B6;
    margin: 50px auto;
    margin-top: 90px;

}

.speakers__container {
    max-width: 1236px;
}
// 1236