@keyframes rot {
    0% {
      transform: rotate(0deg);
     }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes plane {
    0% {
        transform: translateX(0);
     }
    100% {
        transform: translateX(2000px);
    }
}

@keyframes cloud {
    0% {
      transform: translateY(-30%);
     }

    25% {
        transform: translateY(-15%);
    }

    50% {
      transform: translateY(0);
    }

    75% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(-30%);
    }
    
}

.title-block {
    margin-top: -139px;
    padding-top: 139px;
    width: 100%;
    min-height: 587px;
    height: 1000px;
    box-sizing: border-box;
    background-color: #90C7B6;
    position: relative;
}

.title-block__content {
    width: 100%;
    max-width: 735px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -190px;
        background: url('../img/title-decor.png') no-repeat 0 0;
        width: 169px;
        height: 187px;
    }
}

.title-block__header{
    font-weight: normal;
    font-size: 69px;
    line-height: 83px;
    color: white;
    margin: 0;
    margin-top: -5px;
    padding-left: 104px;
}

.title-block__description {
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0;
    padding-left: 104px;

    & span {
        display: inline-block;
        width: 147px;
        font-weight: normal;
        font-size: 23px;
        line-height: 28px;
        text-align: right;
        letter-spacing: 0.01em;
        margin-left: 55px;
        color: white;
    }
}

.title-block__place {
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    text-align: right;
    max-width: 454px;
    margin-left: auto;
    margin-top: 35px;
}

.title-block__caption {
    width: 177px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    top: 55px;
    left: -40px;
    margin: 0;

    & span {
        display: block;
        font-weight: normal;
        font-size: 53px;
        line-height: 64px;
        letter-spacing: -0.02em;
    }
}

.title-block__background-block {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;

    & .title-block__main-background {
        width: 100%;
        height: auto;
    }

    & .title-block__plane-background {
        position: absolute;
        top: 7%;
        left: 0;
        width: 7%;
        height: 12%;
        animation: 15s linear 0s normal none infinite running plane;
    }

    & .title-block__cloud-background {
        position: absolute;
        top: 4.8%;
        left: 71.70%;
        width: 7.5%;
        height: 13%;
        animation: 10s linear 0s normal none infinite running cloud;
    }

    & .title-block__mill-background {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 52%;
        left: 52.65%;
        width: 5%;
        animation: 20s linear 0s normal none infinite running rot;
        // padding-bottom: 13px;
        & img {
            width: 100%;
            height: auto;
            transform: translateY(-16%)
        }
        
     }

    & .title-block__mill-small-background {
        position: absolute;
        top: 68.9%;
        left: 24.3%;
        width: 4.2%;
        height: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 18s linear 0s normal none infinite running rot;

        & img {
            width: 100%;
            height: auto;
            transform: translateY(-15%)
        }
    }
}

@media (max-width: 768px) {
    .title-block {
        min-height: 812px;
        height: 812px;
    }

    .title-block__header{
        padding-left: 20px;
        font-size: 50px;
        line-height: 120%;

    }

    .title-block__caption {
        transform: rotate(0);
        margin-top: 40px;
        top: 0;
        font-size: 20px;
        line-height: 120%;
        position: static;
        padding-left: 20px;
        width: 100%;
        order: -1;
        box-sizing: border-box;

        & span {
            display: inline;
            font-weight: normal;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.02em;
        }
    }

    .title-block__description {
        margin-top: 20px;
        font-size: 30px;
        line-height: 125%;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        & span {
            display: block;
            width: 100%;
            box-sizing: border-box;
            // font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            text-align: left;
            // letter-spacing: 0.01em;
            margin-left: 0;
            // color: white;
        }
    }

    .title-block__place {
        padding: 0 20px;
    }

    .title-block__content {
        margin: 0px;
    }
}

@media(max-width: 500px) {
    .title-block__header {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .title-block__place {
        margin-top: 0;
    }
}